<div class="container mt-5" id="cardContainer">
    <div class="d-flex flex-column align-items-center">
        <h1 class="text-center mb-4">{{ product.name }}</h1>
        <div class="card mb-4" id="detailCard">
            <img src="{{ product.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.category }}</h5>
                <hr>
                <p *ngIf="product.ingredients">{{ product.ingredients }}</p>
                <hr *ngIf="product.ingredients">
                <p class="card-text">{{ product.price.toFixed(2) }} €</p>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                    <button routerLink="/menu" class="btn btn-primary">Back to Menu</button>
                    <button class="btn btn-success" (click)="addToCart(product)">Order</button>
                </div>                
            </div>
        </div> 
    </div>
    
</div>



