<div class="hero">
    <img src="./assets/images/about_hero.jpg" alt="" class="heroImg">
    <div class="heroText">
        <h1>Ristorante Il Gambero Rosso</h1>
        <p>Delivering great food for more than 18 years!</p>
        <div>
            <button class="btn btn-success me-2" routerLink="/menu">Our Menu</button>
            <button class="btn btn-success" (click)="bookTable()">Book a Table</button>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h1 class="text-center">Who we are</h1>
    <div class="d-flex flex-wrap justify-content-around align-items-center mt-4 mb-4">
        <div class="kitchenImg">
           <img src="./assets/images/about_us.jpg" alt="Restaurant" > 
        </div>
        <article class="kitchenArticle">
          <h4>Once upon a time ...</h4>
          <p>Excepturi at molestias quas accusamus, ex adipisci recusandae minus quibusdam architecto sed ad minima, dicta, reprehenderit tempore consectetur perferendis id nam. Molestias magnam ea accusamus eligendi numquam eius fugiat odit maiores asperiores ducimus deserunt dolorum atque autem tempore, impedit dolores repellat est reprehenderit ut nesciunt eveniet consequuntur!</p>
          <ul>
            <li>Tempora quis libero obcaecati laborum magnam illo aspernatur ex, eum odio, exercitationem minus iure cupiditate.</li> 
            <li>Sequi minima, fugit autem eligendi inventore sunt at quia voluptatibus sapiente ut possimus veniam, modi adipisci?</li> 
            <li>Consectetur, labore.</li>
          </ul>
          <p>Cum unde aperiam, animi molestias vel perspiciatis ipsum. Dolor ad vero necessitatibus commodi perferendis sunt debitis.Aspernatur cupiditate repudiandae officia quam distinctio ut velit nostrum expedita accusantium, iure dicta necessitatibus soluta deleniti vitae quidem sequi quis ipsa, ullam ex molestias dolores. Quisquam nobis amet ducimus provident facilis a voluptatum tenetur eveniet placeat illum repellendus, modi iste eligendi perferendis assumenda magnam quae dolore quibusdam ratione, consequuntur odit dolores itaque quo! Cumque, fugit nam.</p>
        </article>
    </div>

    <h1 class="text-center mt-5">What we do</h1>
    <div class="d-flex flex-wrap justify-content-around align-items-center mt-4">
       <article class="kitchenArticle">
            <h4>Voluptatem in sapiente</h4>
            <p><i>Porro, rem voluptates. Possimus at accusamus delectus voluptate quis, eos nihil quam? Necessitatibus id iure suscipit nulla vel. Omnis totam magni laudantium.</i></p>
            <p>Veniam, sint? Nesciunt, iure eius molestiae voluptatem tenetur id consequatur delectus porro unde quas quibusdam, debitis veniam sit eum maiores neque! Minus eius, harum corrupti, perferendis veniam vel architecto blanditiis quisquam necessitatibus nisi aperiam fuga. Id velit explicabo obcaecati aspernatur doloremque nisi alias autem, neque maiores ipsum sed recusandae deleniti in impedit aut laboriosam maxime error enim soluta, quasi, a vitae. Odit animi amet quas necessitatibus neque explicabo maiores corporis voluptatum dolorum dolor soluta sed, doloremque quaerat dicta minus unde consectetur laborum, molestias quod sunt accusantium? Nobis, laboriosam consequatur culpa distinctio magnam odio est labore eaque quibusdam, harum fugiat voluptas possimus at earum corrupti dolor.</p> 
        </article>
        <div class="kitchenImg">
            <img src="./assets/images/about_do.jpg" alt="Pasta">
        </div>
         
    </div>

    
    <h1 class="text-center mt-5">What we promise</h1>
    <div class="d-flex flex-wrap justify-content-around align-items-center mt-4 mb-4">
            <div class="kitchenImg">
               <img src="./assets/images/about_promise.jpg" alt="Restaurant" > 
            </div>
            <article class="kitchenArticle">
              <h4>Aspernatur cupiditate</h4>
              <p><i>Esse, eaque animi nam beatae reiciendis tempora magni rem eos quibusdam aliquid, iure omnis asperiores id voluptate libero inventore, laudantium architecto a temporibus fugiat similique nostrum consequuntur.</i></p>
              <p>Deleniti incidunt non cum sequi nihil excepturi nisi illo expedita! Mollitia deleniti, esse dolorem ipsam accusantium eos in possimus illum debitis! Hic possimus minima quam cumque soluta iure voluptatum vitae pariatur beatae laudantium libero, obcaecati eius dicta. Deleniti tenetur fuga illum vel quis mollitia neque alias eligendi. Est nostrum praesentium similique repellat ut tempore molestias! Expedita atque enim, eaque sint a veniam veritatis, possimus optio corrupti doloremque odit tempora velit. Consequuntur, fugit illum eum maxime adipisci dignissimos explicabo eos iure possimus at repudiandae porro ea vero similique ducimus eligendi iste mollitia. Quidem tenetur assumenda repellat eum dolores saepe unde necessitatibus! Quam?</p>
            </article>
    </div>

    <h1 class="text-center mt-5">Where we are</h1>
    <div class="d-flex flex-wrap justify-content-around align-items-center mt-4">
       <article class="kitchenArticle">
            <h4>You can find us here</h4>
            <p>Via Pietro Fortunato Calvi 8</p>
            <p>35122 Padova PD</p> 
            <br>
            <p>Phone: 0123-456789</p>
            <p>E-Mail: service@gamberorosso.it</p>
        </article>
        <div class="kitchenImg">
            <img src="./assets/images/about_where.jpg" alt="Pasta">
        </div>
         
    </div>
</div>


