<!-- loop for displaying products.ts as menu -->
<div class="container mt-5 maincontent">
    <h1 class="text-center mb-4">Menu</h1>
    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 footerwrap">
    <div class="mb-4" *ngFor="let product of products; index as index">
        <div class="card">
            <img src="{{ product.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <hr>
                <p class="card-text">{{ product.price.toFixed(2) }} €</p>
                <hr>
                <div *ngIf="product.availability == false" class="text-danger">This product is currently not available.
                </div>
                <div *ngIf="product.availability == true" class="d-flex justify-content-between align-items-center">
                    <!-- renders menu-details.component for each product on click -->
                    <button routerLink="/details/{{ index }}" class="btn btn-primary">Details</button>
                    <!-- adds product to cart -->
                    <button class="btn btn-success" (click)="addToCart(product)">Order</button>
                </div>                
            </div>
        </div>
    </div>
</div>
</div>
