<div class="hero">
    <img src="./assets/images/home_hero.jpg" alt="" class="heroImg">
    <div class="heroText">
        <h1>Ristorante Il Gambero Rosso</h1>
        <p>Delivering great food for more than 18 years!</p>
        <div>
            <button class="btn btn-success me-2" routerLink="/menu">Our Menu</button>
            <button class="btn btn-success" (click)="bookTable()">Book a Table</button>
        </div>
    </div>
</div>

<div class="container mt-5 mb-4">
    <h1 class="text-center">Ristorante Il Gambero Rosso</h1>
    <div class="d-flex flex-wrap justify-content-around align-items-center mt-4">
        <div class="articleImg">
           <img src="./assets/images/cucina.jpg" alt="Kitchen" > 
        </div>
        <article class="article">
          <h4>Welcome to our Restaurant</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate pariatur quis quam sapiente excepturi molestiae aliquam veritatis mollitia at accusamus deserunt, eligendi iusto nihil ipsum possimus voluptatem perspiciatis a fuga.</p>
          <ul>
            <li>Dolorum excepturi quasi quae modi quas delectus enim dolorem!</li> <li>Optio ad voluptate atque aut repudiandae iste nesciunt omnis cupiditate quasi culpa enim, obcaecati ratione modi maxime aliquid voluptatem quia ipsam odit non.</li> 
            <li>Similique id expedita earum pariatur officia doloribus deleniti voluptatum vel, nemo rerum, voluptates eligendi.</li>
          </ul>
          <p>Aspernatur cupiditate repudiandae officia quam distinctio ut velit nostrum expedita accusantium, iure dicta necessitatibus soluta deleniti vitae quidem sequi quis ipsa, ullam ex molestias dolores. Quisquam nobis amet ducimus provident facilis a voluptatum tenetur eveniet placeat illum repellendus, modi iste eligendi perferendis assumenda magnam quae dolore quibusdam ratione, consequuntur odit dolores itaque quo! Cumque, fugit nam.</p>
        </article>
    </div>
</div>
<div class="bg-success-subtle p-5" id="choose">
    <h1 class="text-center">Why choose us</h1>
    <p class="text-center">Nam debitis officia praesentium libero, necessitatibus culpa quisquam natus recusandae nesciunt, ullam deserunt veritatis architecto corrupti delectus.</p>
    <div class="d-flex flex-wrap mt-5 justify-content-around">
        <div class="chooseText">
            <p class="mb-0">1</p>
            <h5>Accusamus delectus</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="chooseText">
            <p class="mb-0">2</p>
            <h5>Officiis eveniet</h5>
            <p>Laborum sunt deserunt minima molestiae non optio expedita maiores architecto.</p>
        </div>
        <div class="chooseText">
            <p class="mb-0">3</p>
            <h5>Veniam autem</h5>
            <p>Necessitatibus eaque minima placeat fuga alias perspiciatis nobis.</p>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <h1 class="text-center">Today's special</h1>
    <div class="d-flex flex-wrap-reverse justify-content-around align-items-center mt-4">
       <article class="article">
            <h4>Qui, itaque doloribus!</h4>
            <p><i>Deleniti doloremque, soluta laudantium esse nam enim inventore consequuntur magnam eos perferendis sit aliquid voluptates alias obcaecati nisi dolores eaque hic repudiandae dolorem sapiente aspernatur temporibus!</i></p>
            <p>Eum libero nobis possimus ratione enim deserunt, magni deleniti reiciendis ipsum, provident ab quam tempore! Ullam, doloribus. Mollitia culpa necessitatibus labore cupiditate.  Quibusdam corrupti optio est nostrum dolor magnam maiores recusandae eos saepe doloribus aliquam, culpa ipsam commodi vitae consectetur! Itaque ipsam laboriosam voluptatem reprehenderit aliquam! Consequuntur omnis distinctio hic enim temporibus. Facilis culpa rerum nulla, quasi repellendus impedit eos cupiditate ad reprehenderit.</p> 
        </article>
        <div class="articleImg">
            <img src="./assets/images/special.jpg" alt="Pizza gamberi">
        </div>
         
    </div>
    

</div>
